<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test thread-count="5" name="TestA">
		<classes>
			<class name="packOne.tests.TestA" />
		</classes>
	</test> <!-- Test A -->
	<test thread-count="5" name="TestB">
		<classes>
			<class name="packOne.tests.TestB" />
		</classes>
	</test> <!-- Test B -->
	<test thread-count="5" name="TestC">
		<classes>
			<class name="packOne.tests.TestC" />
		</classes>
	</test> <!-- Test C -->
</suite> <!-- Suite -->
